@tailwind base;
@tailwind components;
@tailwind utilities;

.dlt-btn:hover {
    fill: red;
}

.cmplt-btn:hover {
     fill: green;
}

.edit-btn:hover {
  opacity: 70%;
}

.undo-btn:hover {
  opacity: 70%;
}